<config>
  <defaultIconPath>../../config/resource/icons/default.png</defaultIconPath>
  <groups><group name="asdasdasd"><device>sys/access_control/1</device></group><group name="asdasd"><device>dserver/tangoaccesscontrol/1</device><device>sys/database/2</device></group><group name="QQQ"/><group name=""/><group name="e"><device>sys/access_control/1</device><device>sys/database/2</device><device>sys/tg_test/1</device></group><group name="c"><device>sys/database/2</device><device>dserver/tangoaccesscontrol/1</device><device>sys/access_control/1</device></group><group name="b"><device>dserver/tangotest/test</device><device>dserver/starter/berunes</device><device>sys/database/2</device></group><group name="a"/></groups>
</config>
