<config>
  <defaultIconPath>../../config/resource/icons/default.png</defaultIconPath>
  <groups><group name="" icon_path=""/><group name="ASD" icon_path="/home/pawel/Firefox_wallpaper.png"/><group name="D" icon_path="/home/pawel/image.jpeg"/><group name="C" icon_path="/home/pawel/image.jpeg"/><group name="B" icon_path="/home/pawel/Firefox_wallpaper.png"/></groups>
</config>
